<!DOCTYPE html>
<body>
    <h1>Shape Analysis</h1>
    <p>Uploaded Shape File: {{ filename }}</p>
    <!-- Show the image -->
    <img src="{{ url_for('views.uploaded_file', filename=filename) }}" alt="Uploaded Shape Image" />
    <!-- Show analysis result (if any) -->
    <p>Analysis Result: {{ result }}</p>

    <h2>Click the button to hear analysis</h2>
    <form action="/audio_analysis" method="POST">
        <input type="hidden" name="result" value="{{ result }}">
        <input type="hidden" name="file" value="{{ filename }}">
        <input type="hidden" name="shape" value="{{ shape }}">
        <button type="submit">Audio Analysis</button>
    </form>
</body>
</html>
